.container-int
  input#email(type='checkbox', ng-model='generate.se') 
  span.ma Email
  span.ma-btn.btn.btn-primary.btn-sm(ng-click='generateAction()', ng-disabled='!generateButtonEnabled()', style='margin-bottom:5px;') {{ generateBtnText }}
  a.ma-btn.btn.btn-primary.btn-sm(href="{{downloadLink}}", ng-class='{hidden: hidedownload}', target="_self", ng-click="hidedownload = true") Download Generated Messages
  br
  span(ng-class='{hidden: !generate.se}')
    span.ma Delay in Seconds:
    input(type='number', value="1", min="1", max="3600", ng-model="generate.timeout") 
  accordion(close-others="oneAtATime")
    accordion-group(is-open="isopen.msgs")
      accordion-heading Messages
        i.pull-right.glyphicon(ng-class='{"glyphicon-chevron-down": isopen.msgs, "glyphicon-chevron-right": !isopen.msgs}')
      .header-container
        rr-search-bar(original="generate.messages", filtered="generate.filteredMessages", fields='messageFields') 
      .message-container
        table.ma-table.table.table-striped.table-bordered.table-hover(style='height:281px;')
            tr
              th(style='width: 10px;') 
                input(type='checkbox', ng-model='generate.selectAllMsgs')
              th Message Title
              th Tags
            tr(ng-repeat='message in generate.filteredMessages')
              td(style='width: 10px;')
                input(type='checkbox', ng-model='message.selected')            
              td {{message.name}}
              td(style='width:300px;') {{ message.tags.join(',') }}
    accordion-group(is-open="isopen.var")
      accordion-heading Variable Set
        i.pull-right.glyphicon(ng-class='{"glyphicon-chevron-down": isopen.var, "glyphicon-chevron-right": !isopen.var}')
      .header-container
        rr-search-bar(original='generate.varsets', filtered='generate.filteredVarsets')
      .host-container
        table.ma-table.table.table-striped.table-bordered.table-hover
          tr
            th(style='width: 10px;') 
            th Name
            th From
          tr(ng-repeat='varset in generate.filteredVarsets')
            td(style='width:10px;')
                input(type='radio', name='v', ng-model='generate.varset', ng-value='varset')
            td {{ varset.name }}
            td {{ varset.from}}
    .smtp-cont(ng-class='{hidden: !generate.se}', style='margin-top:5px;')
      accordion-group(is-open="isopen.host")
        accordion-heading Email Host
          i.pull-right.glyphicon(ng-class='{"glyphicon-chevron-down": isopen.host, "glyphicon-chevron-right": !isopen.host}')
        .header-container
          rr-search-bar(original='generate.hosts', filtered='generate.filteredHosts')
        .host-container(style='margin: 0px; padding: 0px;')
          table.ma-table.table.table-striped.table-bordered.table-hover(style='height:300px;')
            tr
              th(style='width: 10px;') 
                  input(type='checkbox', ng-model='generate.selectAllHosts')
              th Alias
              th SMTP Host
              th Email Addr
            tr(ng-repeat='host in generate.filteredHosts')
              td(style='width:10px;')
                input(type='checkbox', ng-model='host.selected')
              td {{ host.alias }}
              td {{ host.name}}
              td {{ host.email }}
    