.container-int
  .btn.btn-primary.btn-sm(style='margin-bottom: 3px; border-radius: 5px;', ng-click='newHost()') New Host
  .search-cont
      span.ma.label.label-success(style='margin: 2px;') Search
      input.ma(type='text', ng-model='hostdb.searchText')
  .host-container
    table.ma-table.table.table-striped.table-bordered.table-hover
      tr
        th Alias
        th SMTP Host
        th Email Addr
        th Actions
      tr(ng-repeat='host in hostdb.hosts | filter:hostdb.searchText')
        td(ng-click='editHost(host)') {{ host.alias }}
        td(ng-click='editHost(host)') {{ host.name}}
        td(ng-click='editHost(host)') {{ host.email }}
        td(style='width: 50px;')
          span.btn.btn-danger.btn-sm(style='margin-left: 2px; font-size: 18px;', ng-click='delete(host)') Delete
   