.container-int
  .search-cont
    span.label.label-success(style='margin: 2px;') Search
    input(type='text', style='width: 300px;', ng-model='manage.searchText')    
  #messagecontainer
    table#msgtable.table.table-striped.table-bordered.table-hover
      tr(ng-repeat='message in manage.messages | filter:manage.searchText')
        td(style='width: 20px;')
          input(type='checkbox', ng-model='message.selected')
        td {{message.name}}
        td(style='width: 200px;')
          a.btn.btn-primary.btn-lg(href='#/edit', ng-click='edit(message)') Edit
          a.btn.btn-danger.btn-lg(href='#', style='margin-left: 2px;', ng-click='delete(message)') Delete
