.container-int
  .header-container
    rr-search-bar(original="var.varsets", filtered="var.filteredVarsets") 
    .ma-btn.btn.btn-primary.btn-sm(ng-click='new()') New Variable Set
    .ma-btn.btn.btn-primary.btn-sm(ng-click='refresh()') Refresh
  .host-container
    table.ma-table.table.table-striped.table-bordered.table-hover
      tr
        th Name
        th From
        th Actions
      tr(ng-repeat='varset in var.filteredVarsets')
        td(ng-click='edit(varset)') {{ varset.name }}
        td(ng-click='edit(varset)') {{ varset.from}}
        td(style='width: 50px;')
          span.ma-btn.btn.btn-danger(style='margin-left: 2px;', ng-click='delete(varset)') Delete