extends layout

block body
  .navbar(role="navigation", ng-controller="HeaderCtrl")
      ul.nav.nav-tabs.nav-justified.navbar-default
        li(ng-class="{'active': isActive('/manage')}")
          a(href="manage") Manage
        li(ng-class="{'active': isActive('/create')}")
          a(href="create") Create
        li(ng-class="{'active': isActive('/deliver')}")
          a(href="deliver") Deliver
        li(ng-class="{'active': isActive('/hostdb')}")
          a(href="hostdb") Host Database
  .container      
    div(ng-view) 


  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/jquery/jquery-2.0.3.min.js')
  script(src='bootstrap/js/bootstrap.min.js')