/* app css stylesheet */
.my-modal-content {
  width: 950px;
  height: 700px;
  left: -200px;
}

.ma-table {
    display: block;
    height: 360px;
    width: 1200px;
    border-color: #fff;
    overflow: auto;
}
.ma-table tr th {
  font-size: 20px;
}
.ma-table tr td {
    font-size: 16px;
    width:1200px;
}
input.ma {
  border: solid black 1px;
  border-radius: 5px;
  width: 200px;
  margin: 2px;
  padding: 2px;
}

span.ma {
  border-radius: 5px;
  display: inline-block;
  padding: 6px;
}

.deliv-cont {
    position: relative;
    height: 100%;
    width:100%;
}

.buttons {
    display: block;
    margin: 20px;
}


//below here is for the createMessage page.


.container-int {
    position: relative;    
    margin-top: 20px;
    width: 100%;
}

.container-int input {
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}

.search-cont {
  display: block;
  position: relative;  
  margin-bottom: 10px;
}
.message {
    display: block;
    width: 550px;
    float: left;
    margin-right: 20px;
}
.msgfld {
    width: 550px;
    border-color: black;
    border-width: 1px;
}

.msgbody {
    width: 550px;
    height: 450px;
    border-radius: 5px;
}

.tags {
    display: block;
}

.msgtags {
    display: inline-block;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    background-color:#f9f9f9;
    height: 450px;
    
}

.tag {
    padding: 5px;
    margin: 2px;
    background-color: rgb(91, 192, 222);
    border-radius: 5px;
    display: inline-table;   
}

.buttongroup {
    float: down;
    display: block;
    margin: 5px;
}



//Below here is for the Home page

.message-container {
    margin-top:20px;
    display: inline-block;
    position:relative;
    width:80%;
    
}

div.status-hidden {
  display: none;
}

//hostdb style

.host-container {
    padding-top:20px;
    display: block;
    position:relative;
    width:80%;    
}

.add-host-form {
  width: 350px;
  border: solid black 1px;
  background-color: #f9f9f9;
  padding: 5px;
  border-radius: 5px;
  
}


