/* app css stylesheet */
.container {
  position: relative;
}
.ma-cap {
  text-transform: uppercase;
}
.alerts-container {
  position: absolute;
  top: 30px;
  left: 80%;
  margin-bottom: 5px;
  float:left;
  z-index: 999;
}
.ma-alert {
  position: relative;
  display: block;
  float: bottom;
  right: 20px;
  width: 300px;
  margin: 5px;
}
ul.ma-nav > li.active > a{
  background-color: #6BA6D1;
  border-radius: 3px;
}
ul.ma-nav > li.active > a:hover {
  background-color: #8DB9D9;
}
.my-modal-content {
  width: 1050px;
  height: 700px;
  left: -200px;
}
.refresh {
  height: 30px;
  width: 30px;
  margin-top: 5px;
}
.ma-table {
    display: block;
    height: 360px;
    width: 1200px;
    border-color: #fff;
    overflow: auto;
}
.ma-table tr th {
  font-size: 20px;
}
.ma-table tr td {
    font-size: 16px;
    width:1200px;
}
.ma-notification-checkbox {
  position: fixed;
  right: 30px;
  top: 50px;
}
.ma-btn {
  margin: 2px; 
  border-radius: 5px;
}

input.ma {
  border: solid black 1px;
  border-radius: 5px;
  width: 200px;
  margin: 2px;
  padding: 2px;
}

span.ma {
  border-radius: 5px;
  display: inline-block;
  padding: 6px;
}

.deliv-cont {
    position: relative;
    height: 100%;
    width:100%;
}

.buttons {
    display: block;
    margin: 20px;
}
 .css-form input.ng-invalid.ng-dirty {
        background-color: #FA787E;
 }
 .css-form textarea.ng-invalid.ng-dirty {
        background-color: #FA787E;
 }
    
 
//below here is for the createMessage page.


.container-int {
    position: relative;    
    margin-top: 20px;
    width: 100%;
}

.container-int input {
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}

.search-cont {
  display: block;
  position: relative;  
  margin-bottom: 10px;
}
.message {
    display: block;
    width: 650px;
    float: left;
    margin-right: 20px;
}
.msgfld {
    width: 650px;
    border-color: black;
    border-width: 1px;
}

.msgbody {
    width: 650px;
    height: 450px;
    border-radius: 5px;
}
.msgdescr-cont {
}
.msgdescr {
    display: inline-block;
    border: 1px solid black;
    width: 300px;
    height: 215px;
    border-radius: 5px;
}
.tags {
    display: block;
}

.msgtags {
    display: inline-block;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    background-color:#f9f9f9;
    height: 215px;
    
}

.tag {
    padding: 5px;
    margin: 2px;
    background-color: rgb(91, 192, 222);
    border-radius: 5px;
    display: inline-table;
}

.buttongroup {
    display: block;
    margin: 5px;
}



//Below here is for the Home page

.message-container {
    margin-top:20px;
    display: inline-block;
    position:relative;
    width:80%;
    
}

div.status-hidden {
  display: none;
}

//hostdb style

.host-container {
    margin-top:20px;
    display: block;
    position:relative;
    width:80%;    
}

.add-host-form {
  width: 350px;
  border: solid black 1px;
  background-color: #f9f9f9;
  padding: 5px;
  border-radius: 5px;
  
}

// generate page
.smtp-hosts {
  display:inline-block;
}


// varset page
.ri-fld {
    width: 50px;
    border-color: black;
    border-width: 1px;
}
.ri {
    padding: 5px;
    width: 150px;
    margin: 2px;
    background-color: rgb(91, 192, 222);
    border-radius: 5px;
    display: block;
}

.pla-fld {
  width: 300px;
  border-color: black;
  border-width: 1px;
}

.pla {
    padding: 5px;
    width: 300px;
    margin: 2px;
    background-color: rgb(91, 192, 222);
    border-radius: 5px;
    display: block;
}